body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --header-height: 50px;
    --footer-height: 200px;
    --main-layout-min-height: calc(100vh - var(--header-height) - var(--footer-height));
    --bgc-footer-header: #1b99af;
}